#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#app_container{
  background-color: beige;
  block-size: 38rem;
  inline-size: 20rem;
  justify-content: center;
  border-radius: 2rem;
  border: black solid 15px;
}

button {
  padding-block: 10px;
  padding-inline: 25px;
  border: none;
  border-radius: 8px;
}

button:hover {
  background-color: black;
}

img {
  block-size: 10rem;
  inline-size: 10rem;
  border: 5px solid black;
  border-radius: 15px;
    margin-block-start: 2rem;
}

#sign_description_container p:nth-child(1) {
  margin:0;
  background-color: black;
  color: white;
  padding: 1rem;
  font-size: x-large;
  margin-block-start: 2rem;
  block-size: 1rem;
  align-content: center;
  text-align: center
}

#sign_description_container p:nth-child(2) {
  margin:0;
  background-color: black;
  color: white;
  padding: 1rem;
  block-size: 3rem;
  align-content: center;
  text-align: center
}

#sign_category p:nth-child(1) {
  margin:0;
  background-color: red;
  color: white;
  font-weight:900;
  font-size:x-large;
  padding-block: 0.8rem;
  margin-block-start: 2rem;
  
}

#sign_category p:nth-child(2) {
  margin:0;
  background-color: purple;
  color: white;
  font-weight:600;
  padding-block: 0.4rem;
  
}

#button_container{
  display:flex;
  column-gap: 1rem;
  justify-content: center;
  margin-block-start: 2rem;
}
